<a href="https://colab.research.google.com/github/AVStrelnikov/LearnPython/blob/master/%D0%A7%D1%82%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BA%D1%83%D1%80%D1%81%D0%B0_%D0%B0%D0%BA%D1%86%D0%B8%D0%B9_%D1%81_%D0%9C%D0%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
ticker = 'SBER'
from_ = '2021-05-01'
till = '2021-05-31'
interval = 24

In [5]:
query = f'http://iss.moex.com/iss/engines/stock/markets/shares/securities/{ticker}/candles.csv?from={from_}&till={till}&interval={interval}'    
df = pd.read_csv(query, sep=';', header=1)

In [8]:
print (df)

                       open   close  ...  ticker       month
end                                  ...
2021-05-04 23:59:59  298.70  303.70  ...    SBER  2021-05-01
2021-05-05 23:59:59  304.01  305.99  ...    SBER  2021-05-01
2021-05-06 23:59:59  306.29  314.72  ...    SBER  2021-05-01
2021-05-07 23:59:59  316.00  317.94  ...    SBER  2021-05-01
2021-05-10 23:59:59  318.26  320.19  ...    SBER  2021-05-01
2021-05-11 23:59:59  303.00  307.16  ...    SBER  2021-05-01
2021-05-12 23:59:59  307.39  302.02  ...    SBER  2021-05-01
2021-05-13 23:59:59  302.11  306.74  ...    SBER  2021-05-01
2021-05-14 23:59:59  308.20  304.10  ...    SBER  2021-05-01
2021-05-17 23:59:59  303.50  303.94  ...    SBER  2021-05-01
2021-05-18 23:59:59  305.01  305.78  ...    SBER  2021-05-01
2021-05-19 23:59:59  304.38  297.00  ...    SBER  2021-05-01
2021-05-20 23:59:59  297.94  296.72  ...    SBER  2021-05-01
2021-05-21 23:59:59  296.85  301.23  ...    SBER  2021-05-01
2021-05-24 23:59:59  302.02  300.70  ...    SBER  2021-05-01
2021-05-25 23:59:59  301.77  306.80  ...    SBER  2021-05-01
2021-05-26 23:59:59  307.84  307.01  ...    SBER  2021-05-01
2021-05-27 23:59:59  306.39  312.72  ...    SBER  2021-05-01
2021-05-28 23:59:59  313.30  309.56  ...    SBER  2021-05-01

[19 rows x 9 columns]

In [7]:
df['ticker'] = ticker
df['month'] = pd.to_datetime(df['end']).dt.strftime('%Y-%m-01')

df.set_index('end', inplace=True)